container_commands:
    01TriggerPlan:
        command: "php artisan trigger:plan"
    02TriggerBills:
        command: "php artisan recurring:bills"
    03TriggerFeeBills:
        command: "php artisan recurring:feebills"
    04TriggerPropertyFeeBills:
        command: "php artisan recurring:propertyfeebills"
    05TriggerStoreLedger:
        command: "php artisan ledger:store"
